/* .translate-button {
    background-color: #18457C;
    color: white ;
    padding: 17px 1px;
    width: 95%;
    border-radius: 9px;
    font-weight: 600;
    font-size: 3vh;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    cursor: pointer;
    display: flexbox;
    transition: all 200ms ease-in-out;
    margin-top: 5%;
    margin-bottom: 5%;
  } */
  
  /* .translate-button:focus,button:hover{
    background-color: #00004b;
    color: #FFFF;
  } */
  
/* .topheader{
    background-color: #000000;
    padding: 10px;
    max-width: fit-content;
    flex: 1;
}

.header-text {
    color: white;
    font-size: 90px;
    margin: 0;
    text-align: center;
  } */
  